.banner {
    background-color: $lightGreen;
    margin-bottom: 68px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 24px;

    .banner-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        background-position:top 82% right 26%, top 37% right 19%, bottom 24% right 41%, bottom 24% left 43%, bottom -12% right 15%, top 59% right 0%, top 40% right 32%, top 56% right 13%, top 14% right 9%, top -2% right -1%;
        background-size: 56px, 50px, 38px, 40px, 56px, 50px, 37px, 40px, 40px, 56px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-image:
            url(../images/food-1.png),
            url(../images/food-2.png),
            url(../images/bons-1.png),
            url(../images/bons-2.png),
            url(../images/bons-r-1.png),
            url(../images/food-b-1.png),
            url(../images/bons-2.png),
            url(../images/food-2.png),
            url(../images/bons-1.png),
            url(../images/food-b-1.png);
    }

    .flex-banner {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
    }

    .breadcrumb {
        display: flex;
        position: relative;
        font-size: 14px;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 27px;

        & > li {
            display: flex;
            align-items: center;

            & > a {
                font-weight: bold;
                font-size: 16px;
                color: $darkGreen;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }

            }

            i {
                margin: 0 0.5rem;
                opacity: 0.5;
            }

            &:last-child {
                a {
                    opacity: .5;
                    pointer-events: none;
                }
            }
        }
    }

    .main-title {
        font-size: 50px;
        position: relative;
        z-index: 2;
    }
}