.faq{
    background-color: $greenBG;
    padding: 100px 0;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    margin-bottom: 68px;
    position: relative;

    &-box-image{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 70%;
        background-position:
        top 117px right 216px, top 307px right 211px, bottom 56px right 213px, bottom 142px left 349px, top 377px left 341px, top 546px right 300px, top 466px right 45px, top 364px left 222px, top 248px right 106px, top 22px right 12px;
        background-size: 55px, 51px, 211px, 66px, 69px, 61px, 158px, 56px, 100px, 206px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-image:
        url(../../images/blueElips.png),
        url(../../images/food-2.png),
        url(../../images/elipsDots.svg),
        url(../../images/bons-1.png),
        url(../../images/bons-r-1.png),
        url(../../images/blueElips.png),
        url(../../images/elips.png),
        url(../../images/food-b-1.png),
        url(../../images/elips.png),
        url(../../images/elipsDots.svg);
    }

    /*scroll*/
    & ::-webkit-scrollbar-track {
        color: #eee;
        background: #EEE;
    }
    & ::-webkit-scrollbar-thumb {
        background: $red;
        border-radius: 10px;
    }
    & ::-webkit-scrollbar {
        width: 4px;
    }
    & ::selection {
        background: $red;
        /* Safari */
        color: #fff;
    }
    & ::-moz-selection {
        background: $red;
        /* Firefox */
        color: #fff;
    }

    .main-title{
        margin-bottom: 10px;
    }
    &-txt{
        font-weight: bold;
        font-size: 18px;
        line-height: 125%;
        color: $green;     
        max-width: 500px;
        margin-bottom: 30px;
    }
    &-answer{
        padding: 30px;
        background-color: $white;
        box-shadow: 0px 0px 10px rgba(88, 88, 88, 0.15);
        border-radius: 10px;
        margin-bottom: 50px;
        position: relative;
        z-index: 2;
    }
    &-inner{
        height: 300px;
        overflow-x: auto;
        overflow-y: scroll;
    }

    .flex-faq{
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .flex-img{
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;

        img{
            width: 100%;
        }
    }
    .btn-faq{
        display: inline-block;
    }

    &-accordion{
        cursor: pointer;
        padding: 10px 0;
        margin-right: 18px;
        width: 100%;
        outline: none;
        transition: 0.4s;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        color: $darkGreen;
        position: relative;

        &:after,
        &:before {
            content: '';
            width: 2px;
            height: 12px;
            background: $red;
            position: absolute;
            right: 0;
            top: 50%;
            border-radius: 5px;
            transition: transform 0.2s ease-out;
        }
        &:before{
            transform: rotate(90deg);
        }
        &.active:after{
            transform: rotate(90deg);
        }
    }
    .panel {
        padding-right: 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        p{
            margin: 5px 0;
        }
    }
    .faq-box{
        margin-right: 18px;
        border-bottom: 1px solid $gray;
    }
    .btn-faq{
        padding: .7em 2.5em;
        letter-spacing: 0.07em;
    }
}