@media (max-width: 1470px) {
    //header done
    .navbar {
        #topnav {
            width: 1110px;
            height: 300px;
            padding: 30px;
        }

        .top-menu {
            .menu-item>a {
                font-size: 21px;
            }
        }
    }
    
    .bg-image {
        bottom: 9%;
        background-position: top center;
    }

    //banner done
    .banner {
        margin-bottom: 50px;

        .breadcrumb {
            margin-bottom: 25px;
        }

        .main-title {
            font-size: 47px;
            margin-bottom: 50px;
        }
        .banner-box{
            display: flex;
            align-items: center;
        }
    }

    //card done
    .card {
        &-box__awardI {
            max-width: 70px;
        }

        &-box__text {
            margin-bottom: 60px;
        }
    }

    //product
    .product{
        .main-title{
            margin-left: 229px;
        }
    }

    //faq
    .faq{
        .faq-box-image{
            background-position: top 55% left 100%;
        }
    }
 
    //post
    .post {
        .post{
            &-allLincks {
                padding: 40px;
            }
        }

    }

    //footer

}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .bg-image{
        background-position:
            top 0 right 0,
            top 0 left -20px;
        background-repeat: repeat-y;
        background-size: auto;
        background-image: url(../images/halfbg.png), url(../images/halfbg.png);
    }

    //interface
    .btn {
        font-size: 16px;
    }

    .flex-small{
        flex: 0 0 80%;
        max-width: 80%;
    }
    .main-title {
        font-size: 36px;
    }

    //header done
    body {
        &.hidden {
            overflow: hidden !important;
        }
    }

    .navbar {
        #topnav {
            position: fixed;
            top: -110%;
            bottom: 0;
            left: 0px;
            width: 280px;
            height: 100vh;
            border-radius: 0;
            padding: 0;
            .follow{
                display: block;
                text-align: center;
                p{
                    font-family: "ProximaBold";
                    font-size: 17px;
                    line-height: 125%;
                    color: $green;
                    margin-bottom: 8px;
                }
                a{
                    color: $red;
                    transition: all .2s ease;
                    & + a{
                        margin-left: 20px;
                    }

                    i{
                        font-size: 17px;
                    }
                    &:hover{
                        color: $darkGreen;
                    }

                }
            }

            .images-block{
                display: block;
                width: 100%;
                height: 193px;
                img{
                    width: 100%;
                }
            }
            &.open {
                top: 80px;
                box-shadow: none;
            }
        }

        .top-menu {
            flex-direction: column;

            .menu-item {

                text-align: center;

                & > a {
                    font-size: 21px;
                    display: inline-block;
                    font-size: 16px;
                }
                ul{
                    margin-bottom: 30px;
                    li{
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .header {
        .flex-wrapper {
            height: 80px;
        }
    }

    //banner done
    .banner {
        padding-top: 20px;
        margin-bottom: 35px;
        
        .main-title {
            font-size: 40px;
        }
    }

    //card done
    .card {

        &-box__images img {
            height: 120px;
        }

        &-box__title {
            font-size: 29px;
        }

        &-box__text {
            font-size: 19px;
        }
    }

    //guide done
    .guide {
        margin-bottom: 80px;

        &-block {
            flex: 0 0 25%;
            max-width: 25%;
        }
        &-content{
            flex: 0 0 75%;
            max-width: 75%;
        }

        &-desc {
            font-size: 17px;
        }

        &-guide {
            ul>li>a {
                font-size: 17px;
            }
        }

        .link-guide {
            .link-guide {
                font-size: 36px;
                margin-bottom: 21px;
            }
        }
    }

    //product done
    .product{
        .container {
            max-width: 960px;
        }
        .main-title{
            margin-left: 10px;
        }
        .product {
            &-thumb {
                .image {
                    max-height: 400px;
                    max-width: 400px;
                    img{
                        max-width: 230px;
                        max-height: 230px;
                    }
                }
                ul {
                    & > li{
                        font-size: 16px;
                    }
                }
            }
            &-title {
                font-size: 24px;
            }
    
            &-desc {
                font-size: 16px;
            }
            &-about{
                margin-bottom: 40px;
            }
        }
        .info{
            margin-top: 60px;
            .title{
                font-size: 19px;
                height: 40px;
            }
            .box{
                padding: 20px 15px;
            }
        }
    }

    //faq done
    .faq{
        .faq-box-image{
            background-position: top 70% left 0;
            bottom: 0;
            
        }
        .faq-txt {
            max-width: 100%;
        }
        .faq-inner {
            height: 285px;
        }
        .faq-answer {
            padding: 20px;
            margin-bottom: 40px;
        }
        .faq-accordion {
            font-size: 19px;
        }
        .panel {
            font-size: 15px;
        }
    }

    //post
    .post{
        .main-title {
            margin-bottom: 35px;
        }
        .post {
            &-more {
                column-gap: 20px;
                li a {
                    font-size: 20px;
                }
            }
        }

    }

    //footer
    .footer{
        .footer{
            &-subtitle {
                max-width: 100%;
            }
            &-title{
                margin-bottom: 30px;
            }
        }
        .top-menu{
            margin-bottom: 52px;
            & > li {
            line-height: 160%;
                a{
                    font-size: 17px;
                }
            }
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    //interface
    .flex-small{
        flex: 0 0 100%;
        max-width: 100%;
    }

    //banner done
    .banner{
        .flex-banner{
            flex: 0 0 60%;
            max-width: 60%;
        }

        .main-title {
            font-size: 36px;
            margin-bottom: 30px;
        }

    }

    //card done
    .card{
        margin-bottom: 40px;
    }

    //guide done
    .guide{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 65px;

        .link-guide {
            margin-bottom: 40px;
        }

        &-name{
            font-size: 19px;
        }
        .link-btn {
            margin-bottom: 40px;
        }
        .link{
            &-guide{
                padding: 20px;
                &.hidden{
                    a{
                        font-size: 17px;
                    }
                }
            }
        }
    }

    //product done
    .product{
        .container {
            max-width: 720px;
        }
        .main-title{
            margin-left: 10px;
        }
        .product {
            &-thumb {
                .image {
                    max-height: 300px;
                    img{
                        max-width: 150px;
                        max-height: 160px;
                    }
                    .elips-top{
                        top: -30px;
                        left: 15px;
                        &:after{
                            top: -30px;
                        }
                    }
                    .elips-bottom{
                        bottom: -38px;
                        right: 30px;
                        &:after{
                            bottom: 10px;
                            right: -35px;
                        }
                    }
                    &::after{
                        border-width: 30px;
                    }
                }
                ul {
                    & > li{
                        font-size: 16px;
                    }
                }
                .features,
                .specifics{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .features{
                    margin-bottom: 20px;
                }
            }
            &-desc{
                margin-bottom: 20px;
            }
        }
        .info{
            .title{
                font-size: 18px;
                height: 38px;
            }
        }
    }

    //blog done
    .blog{
        .flex-image{
            padding: 0 15px;
        }
        .flex-content{
            padding: 0 15px;
        }
    }

    //faq
    .faq{
        .faq{
            &-txt {
                font-size: 17px;
            }
            &-answer {
                padding: 15px;
            }
            &-accordion {
                font-size: 18px;
                padding-right: 20px;
                line-height: 1.2;
            }
        }
    }

    //post
    .post{
        .post {
            &-more {
                li {

                    &:nth-child(odd) {
                        margin-bottom: 30px;
                    }
                    a{
                        font-size: 17px;
                    }
                }
            }
            &-allLincks {
                padding: 30px 20px;
            }
        }

    }

    //footer
    .footer{
        padding-top: 50px;
        .footer{
            &-image {
            margin-bottom: 15px;
            }
            &-title{
                margin-bottom: 10px;
            }
            &-soc a{
                height: 25px;
                width: 25px;
            }
        }
        .address{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .phone{
            margin-bottom: 25px;
            a{
                font-size: 17px;
            }
        }
        .follow{
            p{
                line-height: 1.2;
                font-size: 17px;
            }
        }
        &-soc a i {
            font-size: 15px;
        }
        .protect a {
            font-size: 19px;
        }
        .top-menu > li{
            line-height: 1.2!important;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    //interface
    .main-title {
        font-size: 30px;
        margin-left: 0!important;
        margin-bottom: 30px;
    }

    //banner done
    .banner {
        .breadcrumb {
            margin-bottom: 20px;
        }
        .main-title {
            font-size: 32px;
            margin-bottom: 30px;
        }
        .data{
            font-size: 14px;
        }
        .banner-box{
            background-position: top 98% right 6%,top 79% right -5%, top 36% right 13%, top -6% right -2%;
            background-size: 42px, 50px, 50px, 50px;
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            background-image: url(../images/food-1.png), url(../images/bons-2.png), url(../images/food-2.png), url(../images/bons-1.png);
            img{
                display: none;
            }
            
        }
    }

    //card done
    .card{
        margin-bottom: 30px;
        .owl-dots{
            display: block;
        }
    }

    //guide done
    .guide{
        margin-bottom: 55px;
        &-name{
            font-size: 18px;
        }
        .link-guide{
            ul {
                columns: 1;
                & > li {
                    margin-bottom: 12px;
                }
            }
            .guide-title {
                font-size: 34px;
                margin-bottom: 15px;
            }
        } 
        .guide-desc {
            font-size: 16px;
        }
    }

    //product done
    .product{
        .main-title {
            text-align: center;
        }
        .product {
            &-thumb {
                .image {
                    flex: 0 0 80%;
                    max-width: 330px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom:  50px;
                    height: 330px;
                    max-height: 330px;
                    order: 1;

                    .elips-top{
                        top: -5px;
                        left: 0px;
                    }
                    .elips-bottom{
                        bottom: -15px;
                        right: 30px;
                    }
                }
                .caption{
                    flex: 0 0 100%;
                    max-width: 100%;
                    order: 2;
                }
                ul {
                    & > li{
                        font-size: 16px;
                    }
                }
                .features{
                    margin-bottom: 20px;
                }
            }
            &-desc{
                margin-bottom: 20px;
            }
            &-title{
                text-align: center;
                margin-bottom: 40px;
            }

        }
        .info{
            margin-top: 20px;
            .title{
                font-size: 18px;
                height: 38px;
            }
            .flex-info {
                flex: 0 0 100%;
                width: 100%;
            }
        }
    }

    //blog done
    .blog{
        iframe {
            margin-bottom: 20px;
        }
        article{
            padding: 0;
            p{
                font-size: 17px;
                margin-bottom: 10px;
            }
        }

        .blok-around img {
            width: 100%;
            height: auto;
        }
    }

    //faq
    .faq{
        padding: 80px 0;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
        .flex{
            &-faq {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            &-img{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: -75px;
            }
        }
        .faq-box-image {
            left: 0;
            background-image: url(../images/faqmobail.png);
            background-size: cover;
        }
    }

    //post
    .post{
        .main-title{
            margin-bottom: 30px;
        }
        .flex{
            &-wrapper {
                margin: 0;
            }
        }
        .subtitle {
            max-width: 100%;
            margin-bottom: 30px;
        }
        &-inner{
            .caption{
                .post-title {
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }
        }
        .post{
            &-more{
                columns:2;
                column-gap: 30px;
                li{
                    margin-bottom: 30px;
                }
            }
            &-allLincks{
                .container{
                    padding: 0;
                }
            }
        }
    }

    //footer
    .footer{
        .folow p {
            font-size: 17px;
            line-height: 1.2;
        }
        .flex-foter-desc,
        .flex-footer-contacts,
        .flex-footer-menu{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .flex-foter-desc{
            order: 1;
            margin-bottom: 25px;
        }
        .flex-footer-menu{
            order: 2;
            margin-bottom: 25px;
        }
        .flex-footer-contacts{
            order: 3;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .address{
                max-width: 200px;
            }
            .protect{
                margin-bottom: 20px;
            }
        }
        .top-menu {
            margin-bottom: 15px;
            columns: 2;
        }
        .footer-image,
        .footer-txt {
            text-align: center;
        }
        .footer-subtitle {
            text-align: center;
        }
        .footer-title{
            text-align: center;
        }
    }

}

@media (max-width: 576px) {
    //interface
    .main-title{
        font-size: 24px;
        margin-bottom: 15px;
    }

    //header
    .header{
        .navbar {
            #topnav{
                width: 100%;
                .images-block{
                    max-height: 320px;
                    min-height: 212px;
                }
            }
            .btn-mobileMenu {
                width: 40px;
                height: 40px;  
            }
        }
        .custom{
            &-logo{
                max-width: 150px;
            }
        }
        .inp-group{
            width: 25px;
            height: 25px;
        }
    }

    //banner done
    .banner{
        .banner-box{
            left: 60%;
        }
        .flex-banner{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .banner .breadcrumb > li > a {
            font-size: 15px;
        }
    }

    //card
    .card{
        &-box__text {
            font-size: 18px;
        }

        &-box__title {
            font-size: 24px;
        }
        .flex-card{
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    //guide done
    .guide{
        margin-bottom: 50px;
        .flex-small {
            padding-right: 0px;
            padding-left: 0px; 
        }
        .guide{
            &-block {
                flex: 0 0 30%;
                max-width: 30%;
                padding: 10px;;
            }
            &-content {
                padding: 10px;
                flex: 0 0 70%;
                max-width: 70%;
            }
            &-name {
                font-size: 17px;
            }
        }
        .link{
            &-btn {
                margin-bottom: 20px;
            }
            &-guide{
                padding: 15px;
                .guide-title {
                    font-size: 30px;
                    margin-bottom: 10px;
                }
                ul > li > a {
                    font-size: 17px;
                }
            }
        }
    }

    //product done
    .product{
        .btn-poduct {
            margin-bottom: 60px;
        }
        .product {
            &-thumb {
                .image {
                    flex: 0 0 100%;
                    max-width: 300px;
                    max-height: 300px;
                    margin-bottom: 25px;
                    order: 1;
                    &::after{
                        border: 30px solid $productElips;
                    }

                    .elips-top{
                        background: url(../images/elipsdotsm.svg);
                        width: 85px;
                        height: 85px;
                        top: 5px;
                        left: 13px;
                        &::after{
                            background: url(../images/blueelipsm.png);
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .elips-bottom{
                        background: url(../images/elipsdotsm.svg);
                        width: 85px;
                        height: 85px;
                        bottom: -10px;
                        right: 40px;
                        &::after{
                            background: url(../images/blueelipsm.png);
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                .caption{
                    flex: 0 0 100%;
                    max-width: 100%;
                    order: 2;
                }
                ul {
                    & > li{
                        font-size: 16px;
                    }
                }
                .features{
                    margin-bottom: 20px;
                }
            }
            &-desc{
                margin-bottom: 20px;
            }
            &-title{
                font-size: 20px;
                margin-bottom: 20px;
            }

        }
        .info{
            margin-top: 20px;
            .title{
                font-size: 18px;
                height: 38px;
            }
            .flex-info {
                flex: 0 0 100%;
                width: 100%;
            }
        }
    }

    //blog
    .blog{
        .resume{
            margin-bottom: 50px;
        }
        .flex-content {
            -ms-flex: 0 0 60%;
            flex: 0 0 60%;
            max-width: 60%;
        }
        .flex-image {
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
            max-width: 40%;
        }
        .blog-doctorName {
            line-height: 1.2;
            font-size: 16px;
        }
        .blog-doctorAbout{
            margin-top: 20px;
            .wrap{
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .link-btn{
                display: block;
                margin-bottom: 0;
            }
        }
        .inner{
            border-top: none;
            padding-top: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(30, 144, 122, 0.2);
            a{
                width: 30px;
                height: 30px;
            }
        }
        .blog-cos{
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .blok-around{
            img{
                border-width: 9px
            }
        }
        &-porpouse{
            line-height: 1.2;
            &::after {
                display: none;
            }
        }
    }

    //faq
    .faq{
        padding: 80px 0;
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
        .main-title {
            text-align: center;
        }
        .flex{
            &-img{
                padding: 0 15px;
                img{
                    margin-bottom: -75px;
                }
            }
        }
        .faq{
            &-txt {
            text-align: center;
            margin-bottom: 24px;
            }
            &-inner {
                height: 430px;
            }
            &-accordion {
                font-size: 16px;
                padding-right: 10px;
            }
        }
        .btn-inner{
            text-align: center;
        }
    }

    //post
    .post{
        .subtitle {
            margin-bottom: 20px;
        }
        .flex{
            &-wrapper {
                margin: 0;
            }
            &-post{
                padding: 10px;
            }
        } 
        &-inner{
            .caption{
                padding: 15px 10px;
                .post-title {
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }
        }
        .post{
            &-more{
                li{
                    a{
                        font-size: 15px;
                    }
                    &:nth-child(n+5){
                        display: none;
                    }
                }
            }
            &-allLincks {
                padding: 30px 10px;
            }
        }
    }

    //footer
    .footer{
        .top-menu{
            li{
                margin-bottom: 10px;
            }
        }
        .footer{
            &-subtitle {
                margin-bottom: 12px;
            }
            &-txt{
                margin-bottom: 42px;
            }
            &-soc {
                justify-content: center;
            }
        }
    }
}