/*mobile menu*/
.btn-mobileMenu {
    display: block !important;
    position: relative;
    width: 45px;
    height: 45px;
    transition: 0.3s;
    overflow: hidden;
    border: none;
    background: transparent;

    .mobileMenu-line {
        position: absolute;
        top: 50%;
        content: '';
        background-color: $btnColor;
        height: 3px;
        width: 23px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
        border-radius: 5px;

        &:nth-child(1){
            transform: translate(-50%, -9px);
        }

        &:nth-child(3){
            transform: translate(-50%, 6px);
        }
    }
}

#topnav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: -300px;
    z-index: 9997;
    background: #fff;
    width: 280px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    transition: all .5s ease;
}

.top-menu {
    padding: 0 10px 0 10px;
}

.info-menu {
    padding: 0 10px 15px 10px;
}

#topnav.open {
    left: 0;
}

#topnav ul.info-menu {
    flex-direction: column;
}

#topnav ul>li {
    width: 100%;
    padding: 0;
}

#topnav>ul>li::after,
#topnav ul.info-menu>li::after {
    bottom: 0;
    top: 100%;
    left: 0;
    width: 100%;
    right: 0;
    background-color: #b0b1af;
    height: 1px;
    transform: translateY(0);
}

#topnav ul li:hover::after {
    background: #b0b1af;
}

#topnav ul>li>a>img {
    margin-bottom: 0;
    margin-right: 0.6em;
    width: 30px;
}

#topnav .top-menu .menu-item {
    margin: 0;
}

#topnav>ul>li>a {
    font-weight: 600;
}

#topnav ul li a {
    flex-direction: row;
    padding: 0.8em 0em;
    align-items: center;
    font-size: 19px;
    min-height: 68px;
    line-height: 1.2;
}

.active .mobileMenu-line:nth-child(2) {
    opacity: 0;
}

.active .mobileMenu-line:nth-child(1) {
    transform: translate(-50%, 0%)rotate(45deg);
}

.active .mobileMenu-line:nth-child(3) {
    transform: translate(-50%, 0%)rotate(-45deg);
}

#topnav .online-zapis-mob {
    padding-left: 15px;
    padding-right: 15px;
}

#topnav .online-zapis-mob .btn {
    margin-top: 15px;
    border-radius: 3px;
    padding: .6em 0.9em;
}

#topnav .online-zapis-mob .btn:hover {
    color: #fff;
}

header svg {
    width: 40px;
    height: 40px;
}

#topnav .phones {
    padding: 15px;
}

header .phones a:hover {
    color: #000;
}

header .phones a {
    margin-left: 0px;
}

#topnav ul li.active,
#topnav ul li:hover {
    box-shadow: none;
    background-color: transparent;
}

#topnav ul li.active a,
#topnav ul li:hover a {
    color: rgb(255, 204, 0);
}

#info-menu ul li:nth-child(n + 2) {
    margin-left: 0px;
}

/*End__mobile menu*/