.post{
    .main-title{
        margin-bottom: 10px;
        text-align: center;
    }
    .flex-wrapper.owl-carousel{
        margin: 0;
    }
    .link-btn {
        margin-bottom: 0;
    }
    .subtitle{
        text-align: center;
        font-family: "ProximaBold";
        font-size: 18px;
        line-height: 125%;
        color: $green;
        max-width: 700px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .flex-post{
        padding: 15px;
    }
    &-inner{
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.15);
        display: block;
        
        &:hover{
            color:$darkGreen;
        }

        .post-img{
            overflow: hidden;
            display: block;
            max-height: 260px;
            img{
                transition: all .2s;
            }
        }

        .caption{
            padding: 20px 15px 15px 15px;
            .post-title{
                font-family: "ProximaBold";
                font-size: 20px;
                line-height: 150%;
                margin-bottom: 30px;
            }
            .post-desc{
                font-family: "ProximaBold";
                margin-bottom: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        &:hover{
            .post-img img{
                transform: scale(1.05);
            }
        }
    }
    .post-allLincks{
        background-color: $greenBG;
        padding: 50px;
        margin-top: 80px;
        .main-title{
            margin-bottom: 40px;
        }
    }
    .post-more{
        columns: 4;
        column-gap: 30px;
    
        li{
            text-align: center;
            a{
                font-family: "ProximaBold";
                font-size: 22px;
                line-height: 150%;
                text-transform: capitalize;
                color: $darkGreen;
                transition: all .2s ease;

                &:hover{
                    color: $btnColor;
                }
            }
            &:nth-child(odd){
                margin-bottom: 40px;
            }
        }

    }
    .owl-dots{
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translateX(-50%);
    
        & .owl-dot{
            width: 8px;
            height: 8px;
            background: rgba(255, 78, 120, 0.5)!important;
            border-radius: 50%;
            & + .owl-dot{
                margin-left: 10px;
            }
            &.active{
                width: 40px;
                border-radius: 5px;
            }
        }
    }
}