@font-face {
    font-family: 'ProximaBold';
    src: url('../fonts/ProximaNovaSoft-Bold.woff2') format('woff2'),
         url('../fonts/ProximaNovaSoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaRegular';
    src: url('../fonts/ProximaNovaSoft-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNovaSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}