* {

    &::after,
    &::before {
        box-sizing: border-box;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    font-family: "Proxima", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $darkGreen;
}

.transition {
    transition: all .3s;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-wrapper{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.btn {
    color: $white;
    cursor: pointer;
    display: block;
    padding: .8em 1em;
    position: relative;
    background: $btnColor;
    text-transform: uppercase;
    border: 1px solid $black;
    border-radius: 10px;
    outline: none;
    transition: all .2s;

    &:before {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        left: 0px;
        bottom: 0px;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 10px;
        z-index: -1;
        transition: all .2s;
    }

    &:hover {
        top: -4px;
        right: -4px;
    }

    &:hover::before {
        opacity: 0;
    }

    .focus,
    &:focus {
        top: -4px;
        right: -4px;
    }

    &:focus::before {
        opacity: 0;
    }
}