* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: $darkGreen;
    transition: all .2s ease;

    &:hover{
        color: $btnColor;
    }
}

body {
    font-family: "Proxima", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $darkGreen;
    height: 100vh;
    background-position:
        top 1500px left 10px,
        top 1500px right 10px,
        top 1800px left 5px,
        top 1700px right 5px,
        top 2300px left 7px,
        top 2300px right 10px,
        top 2800px left 17px,
        top 2800px right 12px,
        top 3200px left 5px,
        top 3200px right 12px,
        top 3800px right 7px,
        top 3900px left 15px,
        top 4300px right 8px,
        top 4200px left 12px,
        top 4600px right 5px,
        top 4700px left 12px,
        top 5200px right 3px,
        top 5300px left 7px,
        top 5500px right 5px,
        top 5800px right 8px,
        top 6000px left 12px,
        top 6400px right 5px,
        top 6700px left 12px,
        top 7000px right 3px,
        top 7300px left 7px,
        top 7800px right 5px;
    background-size: 42px, 50px, 50px, 50px, 80px, 65px, 74px, 64px, 30px, 46px, 38px, 56px, 32px, 53px, 23px, 43px, 21px, 34px, 64px, 32px, 25px, 55px, 40px, 65px, 24px, 34px, 34px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-image:
        url(../images/food-1.png),
        url(../images/food-2.png),
        url(../images/bons-1.png),
        url(../images/bons-2.png),
        url(../images/bons-r-1.png),
        url(../images/food-b-1.png),
        url(../images/bons-2.png),
        url(../images/food-b-1.png),
        url(../images/food-2.png),
        url(../images/food-1.png),
        url(../images/bons-1.png),
        url(../images/bons-2.png),
        url(../images/bons-2.png),
        url(../images/food-2.png),
        url(../images/bons-r-1.png),
        url(../images/food-b-1.png),
        url(../images/food-1.png),
        url(../images/bons-1.png),
        url(../images/food-b-1.png),
        url(../images/food-2.png),
        url(../images/bons-1.png),
        url(../images/food-b-1.png),
        url(../images/food-b-1.png),
        url(../images/food-1.png),
        url(../images/bons-1.png),
        url(../images/food-b-1.png);
}

.transition {
    transition: all .3s;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-small {
    flex: 0 0 69%;
    max-width: 69%;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.main-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #0E4434;
    margin-bottom: 60px;
}

.link {
    &-btn {
        border: none;
        padding: 0;
        display: inline-block;
        color: $btnColor;
        letter-spacing: 0.03em;
        font-weight: bold;
        font-size: 17px;
        line-height: 125%;
        position: relative;
        background: transparent;
        cursor: pointer;
        outline: none;
        margin-bottom: 50px;
        transition: all .2s ease;

        &::after {
            content: "";
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            bottom: 0;
            left: 0;
            right: 0;
            background: $btnYellow;
            z-index: -1;
        }

        div {
            position: relative;
            width: 2px;
            height: 12px;
            background: $btnColor;
            border-radius: 5px;
            transform: rotate(90deg);
            display: inline-block;
            margin-left: 10px;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%) rotate(90deg);
                width: 2px;
                height: 12px;
                background: $btnColor;
                border-radius: 5px;
                transition: all .2s ease;
            }
        }

        &:hover div::after {
            transform: rotate(0deg);
        }
    }

}

.btn {
    color: $white!important;
    cursor: pointer;
    display: block;
    padding: .8em 1em;
    font-weight: bold;
    font-size: 17px;
    line-height: 125%;
    letter-spacing: 0.05em;
    position: relative;
    background: $btnColor;
    text-transform: uppercase;
    border: 1px solid $black;
    border-radius: 10px;
    outline: none;
    transition: all .2s;

    &:before {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        left: 0px;
        bottom: 0px;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 10px;
        z-index: -1;
        transition: all .2s;
    }

    &:hover {
        top: -4px;
        right: -4px;
    }

    &:hover::before {
        opacity: 0;
    }

    .focus,
    &:focus {
        top: -4px;
        right: -4px;
    }

    &:focus::before {
        opacity: 0;
    }
}
.owl-dots{
    outline: none;

    & .owl-dot{
        width: 8px;
        height: 8px;
        background: rgba(255, 78, 120, 0.5)!important;
        border-radius: 50%;
        outline: none;
        & + .owl-dot{
            margin-left: 10px;
        }
        &.active{
            width: 40px;
            border-radius: 5px;
        }
    }
}