
$btnColor: #fb7898;
$btnYellow: #FFE49F;

$white: #fff;
$black: #000;
$darkGreen: #0E4434;
$lightGreen: #A0ECB5;

$txtColorB: #1f907a;
$txtColorR: #fb7a9a;

$bgcolorBirch: #bdffce;
$bgGreen: #76DFCB;

