
$btnColor: #fb7898;
$btnYellow: #FFE49F;

$white: #fff;
$black: #000;
$red: #FF4E78;
$gray :#EFEFEF;
$green: #1E907A;
$darkGreen: #0E4434;
$lightGreen: #A0ECB5;

$txtColorB: #1f907a;
$txtColorR: #fb7a9a;

$bgcolorBirch: #bdffce;
$greenBG: #C8FFD7;
$bgGreen: #76DFCB;
$bgFooter: #F6F6F0;

$productElips: #DFFFE7;

$colorFacebok : #3e65a6;
$colorTwitter : #36bffe;
$colorYoutube : #c61c1e;
$colorInstagram : linear-gradient(to right top, #fbca6e, #ffb087, #ffa0a7, #e09cbe, #b59cc4);
$colorPinterest : #b72126;

